{% extends "ExplootFrontWebsiteBundle::_layout.html.twig" %}
{% block title %}{{'page_title' | trans}}{% endblock %}

{% block body %}
<div id="home" class="home">
	<div class="homeInside">
		<div class="catchphraseContainer">
			<h1>{{'home_catchphrase_title' | trans}}</h1>
			<p>{{'home_catchphrase_description' | trans}}</p>
		</div>
	</div>
</div>
<div id="home2" class="home2">
	<div class="homeInside">
		<div class="catchphraseContainer">
			<h1>{{'home_catchphrase_title' | trans}}</h1>
			<p>{{'home_catchphrase_description' | trans}}</p>
		</div>
	</div>
</div>
{% endblock %}
