<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets  '@css_reset'
                        '@ExplootFrontWebsiteBundle/Resources/public/css/*'
                        filter='cssembed' output='css/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <!-- HEADER -->
        {{include('ExplootFrontWebsiteBundle::header.html.twig')}}

        <!-- VIEW -->
        <section id="container" class="container">
            {% block body %}{% endblock %}
        </section>

        <!-- FOOTER -->
        {{include('ExplootFrontWebsiteBundle::footer.html.twig')}}

        {% javascripts '@ExplootFrontWebsiteBundle/Resources/public/js/*' output='js/main.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
