<section id="header" class="header">
    <a href="#home" class="title">Exploot</a>
    <nav class="menu">
        <a href="#home" class="selected">{{'menu_home' | trans}}</a>
        <a href="#thegame">{{'menu_info' | trans}}</a>
        <a href="#downloads">{{'menu_download' | trans}}</a>
        <a href="#community">{{'menu_forum' | trans}}</a>
        <a href="#about">{{'menu_contact' | trans}}</a>
    </nav>
</section>