<section id="header" class="header">
    <a src="#" class="title">Exploot</a>
    <nav class="menu">
        <a src="#" class="selected">{{'menu_home' | trans}}</a>
        <a src="#thegame">{{'menu_info' | trans}}</a>
        <a src="#downloads">{{'menu_download' | trans}}</a>
        <a src="#community">{{'menu_forum' | trans}}</a>
        <a src="#about">{{'menu_contact' | trans}}</a>
    </nav>
</section>