<div id="header" class="header">
    <h1 class="title">Exploot</h1>
    <ul class="menu">
        <li>{{'menu_home' | trans}}</li>
        <li>{{'menu_info' | trans}}</li>
        <li>{{'menu_download' | trans}}</li>
        <li>{{'menu_forum' | trans}}</li>
        <li>{{'menu_contact' | trans}}</li>
    </ul>
</div>